<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <div class="layout authorization">
        <div class="auth-pane">
            <div class="auth-pane-content">
                <form id="auth-pane-content-form">
                    <label class="auth-group">
                        <div class="auth-group-title">
                            <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="13px" height="15px">
                                <image  x="0px" y="0px" width="13px" height="15px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPCAQAAACVKo38AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflAQQAGhXlr4BGAAAAsElEQVQY03WLrQ3CUBhFzysJKUnlQxAM6O6AwEJQqIYJOgCiAzBHB0ARsAgW6AIVpAkgvtZVoHiI/lCgPdfc3JOLoYj4EouRWPxqqUQgpk5QbMoAqYNgU/FkqHOwAHAbAmxcqFTGN1mtdEzUEJGOPy/wSMqW4BVFmXJJHdZMuLLXea1SixUz4MSNMQvgwkG/lAw4MueXM8vedseGf6b0ldwZ0cZDiaEDiy5lLMJWaQjfHutKI7l8du8AAAAASUVORK5CYII=" />
                            </svg>

                            <div class="name">Игровой ник</div>
                        </div>
                        <input type="text" name="login" placeholder="Введите ник">
                    </label>

                    <label class="auth-group">
                        <div class="auth-group-title">
                            <svg 
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="14px" height="16px">
                                <image  x="0px" y="0px" width="14px" height="16px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAQAAACMnYaxAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQflAQQBAzLaZ/YCAAAA3ElEQVQY03WPsUrDUBSGv4SAQocMuUhHXyCzkxUqDr6BfQOnbkLF3QfIJh3q5nvYIZpSFwfduwgniIM0RUJOl5vbG6j/cs4933/+ww2UVmXMMd9mxU6KokgiT1KLispSTtROAwXKHjmp8284MwVACMCYFHjkkhsqDsm8WHkRldweuBUVlSNF7WYfWFh34SZE7lJj6yv31Hx2oZX55a7tAzlnxBU9PmxgqzeTBfJDzH4NQg99cc2zB5PQe8zMAxN/1Yd/QPUfPC0PuPBhROMMQ9Ydcx0ydd/v5rwz3wLgJE2b0olJDAAAAABJRU5ErkJggg==" />
                            </svg>
                            
                            <div class="name">Пароль</div>
                        </div>
                        <input type="password" name="password" placeholder="****">
                    </label>

                    <label class="auth-group checkbox">
                        <input type="checkbox" name="remember">
                        <span class="checkbox"></span>

                        <div class="auth-group-title">
                            <div class="name">Запомнить пароль</div>
                        </div>
                    </label>

                    <label class="auth-group buttons">
                        <button class="auth-button">
                            <div class="name">Войти в игру</div>
                        </button>

                        <span class="else">или</span>

                        <button class="auth-button blue">
                            <div class="name">Создать аккаунт</div>
                        </button>
                    </label>
                </form>
            </div>
        </div>
        <div class="auth-notice error">
            <div class="title">Ошибка!</div>
            <div class="description">Неверный логин или пароль</div>
        </div>
    </div>
</body>
</html>